<% provide(:title, @user.username) %>

<h1><%= @user.username %></h1>

<p><%= @user.email %></p>

<%= link_to "Update Information", edit_user_path %><br>
<%= link_to "Delete Account", user_path, method: :delete,
										 data: { confirm: "Are you sure?" } %>

<br>